.tooltip {
  position: relative;
}

.tooltip::before {
  content: attr(data-text); /* here's the magic */
  position: absolute;
  z-index: 5;
  font-size: 0.75rem;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  top: auto;
  transform: translate(10%, -100%);
  right: auto;
  left: 100%;
  bottom: -15%;
}

.tooltip:hover:before {
  opacity: 1;
}

.mobile-feature .group.relative:is(:last-child){
  margin-bottom: 2rem;
}

@media screen and (min-width: 1441px) {
  .tooltip::before {
    top: 100%;
    transform: translate(-5%, -100%);
    right: 100%;
    left: auto;
    bottom: auto;
  }
}
