@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Asap:wght@500&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300&display=swap");

#root {
    position: relative;
}

html {
    font-size: 18px;
    font-family: "Raleway", "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
}
